{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">

    <!-- column 1 -->
    <div class="col-sm-6">
      <h3>The Next Big Game</h3>
      <p>In the near future, we are looking forward to two big game releases. The first one being 
        <a href="https://store.steampowered.com/app/920210/LEGO_Star_Wars_The_Skywalker_Saga/">Lego Star Wars:
        The Skywalker Saga</a>. This game is set to completely redo the old Lego Star Wars games from our childhood.
        The game has turned into an expansive open world game with attention to every little detail, including the new 
        films that came out in recent years and completely revamping the old levels we know and love. The game is set to
        release April 5 of 2022.
      </p>
      <p></p>
    </div>
    <div class="col-sm-6">

      <!-- column 2 -->

      <h3>In the Distant Futrue</h3>
      <p>A game that has us very excited at the Gaming Hub is the remake of <a href="https://www.thegamer.com/star-wars-knights-of-the-old-republic-remake-release-date-2023/#:~:text=%22From%20what%20I've%20gathered,in%20a%20recent%20blog%20post.">Star Wars: Knights of the Old Republic</a>.
        The KOTOR game was originally released in 2003 and then a sequal the next year in 2004. Both games get great reviews
        and visit a time well before all of the Star Wars movies take place. There are new Sith and Jedi introduced to learn
        their stories and motivations. This game has us excited becasue of the potential that it can take the Star Wars Universe.
        Shining light on the time before all of the movies and the oppertunity that it presents has captured our interest and
        very excited for a release next year.  
      </p>
    </div>
{% endblock %}