{% extends "base.html" %}
{% block title %}<title>Employees</title>{% endblock %}
{% set active_page = "directory" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Current Employees</h3>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Keegan</td>
            <td>Demers</td>
            <td>Founder/CEO</td>
            <td>$300,000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Wes</td>
            <td>Stilson</td>
            <td>CFO</td>
            <td>$70,000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Canaan</td>
            <td>Demers</td>
            <td>Coffee Boy</td>
            <td>$20,000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Matthew</td>
            <td>Trochalakis</td>
            <td>Security</td>
            <td>$50,000</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Matthew</td>
            <td>Lacey</td>
            <td>Shoe Shiner</td>
            <td>$30,000</td>
          </tr>
        </tbody>
      </table>
      
    </div>
    
  </div>
</div>
{% endblock %}