{% extends "base.html" %}
{% block title %}<title>Games</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Top Games of All Time!</h3>

      <ul>
        <li><a href="https://www.ign.com/articles/elden-ring-review">Elden Ring</a></li>
        <li><a href="https://www.ign.com/articles/2011/11/24/minecraft-review">Minecraft</a></li>
      </ul>

    </div>
    
  </div>
</div>
{% endblock %}