{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Events!</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Event</th>
            <th scope="col">Discription</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">03/25</th>
            <td>5:00 PM</td>
            <td>Company Destress</td>
            <td>Destress from the week with your Co-workers!</td>
          </tr>
          <tr>
            <th scope="row">04/04</th>
            <td>11:59 PM</td>
            <td>Star Wars: The Skywalker Saga</td>
            <td>Midnight Release Party!</td>
          </tr>
          <tr>
            <th scope="row">04/05</th>
            <td>All Day</td>
            <td>Work Closed</td>
            <td>Closed for employee recovery</td>
          </tr>
          <tr>
            <th scope="row">04/27</th>
            <td>12:00 PM</td>
            <td>Coffee Boy's Birthday</td>
            <td>Celebrate by going to Taco Bell for lunch</td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>
{% endblock %}