{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome!</h3>

        <p>We are all about having a great time and enhancing your gaming experience at MJB's Gaming Hub! We share reviews on 
          new and old games, as well as accessories to boost your gaming experience. We play through all the games we share 
          to create the ultimate gaming of all time. This list of games you should definetly try for yourself. We hope to
          show you the wonderful art of gaming and enhance your gaming expereince.</p>
        <p></p>
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>Recent Gaming News</h3>
        <p>Elden Ring has taken the gaming world by storm with its recent release. This is an open world RPG game that
          can be played alone or with friends alongside. The world is massive and can be freely explore to the player's
          liking. With 80+ different bosses and even more enemy types, the games will take most players 100+ hours to fully
          explore and complete. The game was released in close to perfect condition with mininal bugs. It has really ruptured
          the gaming industry for a big single player game selling over 12 million copies in the first month and having over 
          900,000 concurrent players. Elden Ring has lived up to the expectations it put in place and even exceeded them. 
        </p>
      </div>
  
    </div>
  </div>
{% endblock %}